<body>
 <p>Определяет текстовый абзац. Тег  является<strong> блочным элементом</strong>, всегда начинается с новой строки, абзацы текста идущие <i>друг за другом</i> разделяются между собой отбивкой. <s>Величиной отбивки</s> можно управлять с помощью стилей. Если <u>закрывающего</u> тега нет, считается, что конец абзаца совпадает с началом следующего блочного элемента.</p> 
  <p><center>Обзор событий на Украине и в мире на русском, английском и украинском языках (происшествия, политика, бизнес, технологии и др.). Лента новостей. Подписка на ежедневный дайджест новостей.</center></p>
  <p>Ежедневно обновляемая лента новостей Украины и мира. Поисковый сервис (возможность выбора поисковой системы), прогноз погоды, бесплатная электронная почта, хранилище файлов и др.</p>
